
@font-face {font-family: "iconfont";
    src: url('//at.alicdn.com/t/font_rnjpx8yr8kyy14i.eot?t=1481117117174'); /* IE9*/
    src: url('//at.alicdn.com/t/font_rnjpx8yr8kyy14i.eot?t=1481117117174#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_rnjpx8yr8kyy14i.woff?t=1481117117174') format('woff'), /* chrome, firefox */
    url('//at.alicdn.com/t/font_rnjpx8yr8kyy14i.ttf?t=1481117117174') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_rnjpx8yr8kyy14i.svg?t=1481117117174#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.icon-edit:before { content: "\e602"; }

.icon-weixin:before { content: "\e639"; }

.icon-android:before { content: "\e604"; }

.icon-gerendaikuan:before { content: "\e617"; }

.icon-qq:before { content: "\e606"; }

.icon-bao:before { content: "\e6a6"; }

.icon-weibo:before { content: "\e619"; }

.icon-ditu:before { content: "\e622"; }

.icon-xiaoxi:before { content: "\e60a"; }

.icon-jinlingyingcaiwangtubiao42:before { content: "\e6c9"; }

.icon-user:before { content: "\e618"; }

.icon-yunico:before { content: "\e672"; }

.icon-ui4:before { content: "\e6f4"; }

.icon-triangle-r:before { content: "\e60b"; }

.icon-shijian:before { content: "\e61d"; }

.icon-yonghu:before { content: "\e62c"; }

.icon-weixin1:before { content: "\e63f"; }

.icon-0:before { content: "\e66f"; }

.icon-tupian:before { content: "\e625"; }

.icon-kefu:before { content: "\e627"; }

.icon-1:before { content: "\e621"; }

.icon-ruhezhuanqian:before { content: "\e63a"; }

.icon-hricon48:before { content: "\e64b"; }

.icon-xin:before { content: "\e640"; }

.icon-rili:before { content: "\e634"; }

.icon-password:before { content: "\e62b"; }

.icon-microblog:before { content: "\e6ac"; }

.icon-h5:before { content: "\e73b"; }

.icon-tuikuanzhong:before { content: "\e609"; }

.icon-baoxian:before { content: "\e6c8"; }

.icon-phone:before { content: "\e62d"; }

.icon-xiangshang:before { content: "\e807"; }

.icon-arrow-copy:before { content: "\e607"; }

.icon-xingzhuang10:before { content: "\e657"; }

.icon-woshou:before { content: "\e623"; }

.icon-arrow-copy-copy:before { content: "\e73c"; }
