<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qixin.neoit.mapper.Edu_newsMapper">
	<resultMap id="BaseResultMap" type="com.qixin.neoit.entity.Edu_news">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="type" property="type" jdbcType="SMALLINT" />
		<result column="level" property="level" jdbcType="SMALLINT" />
		<result column="html_url" property="htmlUrl" jdbcType="VARCHAR" />
		<result column="resume" property="resume" jdbcType="VARCHAR" />
		<result column="create_id" property="createId" jdbcType="INTEGER" />
		<result column="update_id" property="updateId" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="deleted" property="deleted" jdbcType="INTEGER" />
		<result column="enabled" property="enabled" jdbcType="INTEGER" />
		<result column="images" property="images" jdbcType="VARCHAR" />
		<result column="title_image" property="titleImage" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, title, author, create_time, type, level, html_url, resume, create_id,
		update_id,
		update_time, deleted, enabled, images, title_image
	</sql>
	<!-- 1根据类型和等级查询新闻 -->
	<select id="findNewsByTypeAndLevel" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where type = #{type,jdbcType=INTEGER} and
		level = #{level,jdbcType=INTEGER} order by id desc
	</select>
	<!-- 2根据类型查询总页码 -->
	<select id="selectNewsPages" resultType="java.lang.Integer"
		parameterType="java.lang.Integer">
		select count(*) from edu_news
		where type = #{newstype,jdbcType=INTEGER}

	</select>
	<!-- 3通过页码和类型查询新闻(每次10条) -->
	<select id="selectNewsByTyeAndPage" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where type =${type}
		order by id desc limit ${page},10
	</select>
	<!-- 4通过页码和类型查询新闻(每次5条) -->
	<select id="selectqdNewsByTyeAndPage" resultMap="BaseResultMap"
		parameterType="map">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where type =${type}
		order by id desc limit ${page},5
	</select>
	<!--5查出最后一条学院新闻 -->
	<select id="selectLastNews" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from edu_news 
		order by id desc limit 1
	</select>
	<!-- 6根据newid查询上一篇和下一篇的新闻 -->
	<select id="findNeBaNews" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where  id=(select max(id) from edu_news where id &lt;
		#{newid,jdbcType=INTEGER}) 
		or id = (select min(id) from edu_news where id
		>#{newid,jdbcType=INTEGER} ) order by id desc
		 
	</select>
	<!--7根据新闻地址查询新闻 -->
	<select id="selectByhtmurl" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where html_url = #{htmlurl,jdbcType=VARCHAR}
	</select>
	<!-- 8查询四条相关新闻 -->
	<select id="findRecomNews" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where id != #{id,jdbcType=INTEGER} and type=2
		order by id desc limit 4
	</select>
	<!-- 查询三条置顶新闻(level=1为普通显示,2为置顶显示) -->
   <select id="selectZDNews" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where level =2 order by id desc limit 3
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from edu_news
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from edu_news
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.qixin.neoit.entity.Edu_news">
		insert into edu_news (id, title, author,
		create_time, type, level,
		html_url, resume, create_id,
		update_id, update_time, deleted,
		enabled, images, title_image
		)
		values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR},
		#{author,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{type,jdbcType=SMALLINT}, #{level,jdbcType=SMALLINT},
		#{htmlUrl,jdbcType=VARCHAR}, #{resume,jdbcType=VARCHAR},
		#{createId,jdbcType=INTEGER},
		#{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=INTEGER},
		#{enabled,jdbcType=INTEGER}, #{images,jdbcType=VARCHAR},
		#{titleImage,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.qixin.neoit.entity.Edu_news">
		insert into edu_news
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="author != null">
				author,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="htmlUrl != null">
				html_url,
			</if>
			<if test="resume != null">
				resume,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="deleted != null">
				deleted,
			</if>
			<if test="enabled != null">
				enabled,
			</if>
			<if test="images != null">
				images,
			</if>
			<if test="titleImage != null">
				title_image,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				#{author,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				#{type,jdbcType=SMALLINT},
			</if>
			<if test="level != null">
				#{level,jdbcType=SMALLINT},
			</if>
			<if test="htmlUrl != null">
				#{htmlUrl,jdbcType=VARCHAR},
			</if>
			<if test="resume != null">
				#{resume,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				#{deleted,jdbcType=INTEGER},
			</if>
			<if test="enabled != null">
				#{enabled,jdbcType=INTEGER},
			</if>
			<if test="images != null">
				#{images,jdbcType=VARCHAR},
			</if>
			<if test="titleImage != null">
				#{titleImage,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.qixin.neoit.entity.Edu_news">
		update edu_news
		<set>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="author != null">
				author = #{author,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=SMALLINT},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=SMALLINT},
			</if>
			<if test="htmlUrl != null">
				html_url = #{htmlUrl,jdbcType=VARCHAR},
			</if>
			<if test="resume != null">
				resume = #{resume,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="deleted != null">
				deleted = #{deleted,jdbcType=INTEGER},
			</if>
			<if test="enabled != null">
				enabled = #{enabled,jdbcType=INTEGER},
			</if>
			<if test="images != null">
				images = #{images,jdbcType=VARCHAR},
			</if>
			<if test="titleImage != null">
				title_image = #{titleImage,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.qixin.neoit.entity.Edu_news">
		update edu_news
		set title = #{title,jdbcType=VARCHAR},
		author = #{author,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		type = #{type,jdbcType=SMALLINT},
		level = #{level,jdbcType=SMALLINT},
		html_url = #{htmlUrl,jdbcType=VARCHAR},
		resume = #{resume,jdbcType=VARCHAR},
		create_id = #{createId,jdbcType=INTEGER},
		update_id = #{updateId,jdbcType=INTEGER},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		deleted = #{deleted,jdbcType=INTEGER},
		enabled = #{enabled,jdbcType=INTEGER},
		images = #{images,jdbcType=VARCHAR},
		title_image = #{titleImage,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>