<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	<!-- 配置数据源 -->
	 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:mysql://192.168.1.88:3306/neo_db?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root" ></property>
		<property name="password" value="123456"></property>
	</bean>  

	<!-- 配置sqlSeessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:mybatis.xml"></property>
	</bean>
	
	<!-- 配置dao生成器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.qixin.neoit.mapper"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	
	<!-- 配置Biz -->
	
	<bean id="adminBiz" class="com.qixin.neoit.biz.impl.AdminBizImpl" autowire="byName"></bean>
	<bean id="indexBiz" class="com.qixin.neoit.biz.impl.IndexBizImpl" autowire="byName"></bean>
	<bean id="studentBiz" class="com.qixin.neoit.biz.impl.StudentBizImpl" autowire="byName"></bean>
	<bean id="userBiz" class="com.qixin.neoit.biz.impl.UserBizImpl" autowire="byName"></bean>
	<bean id="teacherBiz" class="com.qixin.neoit.biz.impl.TeacherBizImpl" autowire="byName"></bean>
	
	
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="*" read-only="true"/>
		</tx:attributes>
	</tx:advice>
	<!-- 配置切面 -->
	 <aop:config>
		<aop:pointcut id="pointcut" expression="execution(* com.qixin.neoit.biz.impl.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
	</aop:config> 

</beans>